*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:
    linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.95)),
    url("https://images.unsplash.com/photo-1511512578047-dfb367046420?w=1600");

    background-size:cover;
    background-attachment:fixed;
    color:white;

}

/* HEADER */

header{

    text-align:center;
    background:#111;
    padding:30px;
    border-bottom:3px solid gold;
    box-shadow:0 0 20px gold;

}

header h1{

    color:gold;
    font-size:45px;
    margin-bottom:10px;

}

header p{

    color:#ddd;
    margin-bottom:20px;

}

nav{

    display:flex;
    justify-content:center;
    gap:25px;

}

nav a{

    color:white;
    text-decoration:none;
    transition:.3s;
    font-weight:bold;

}

nav a:hover{

    color:gold;

}

/* BANNER */

.banner{

    text-align:center;
    padding:80px 20px;

}

.banner h2{

    font-size:45px;
    color:gold;
    margin-bottom:20px;

}

.banner p{

    font-size:20px;
    max-width:800px;
    margin:auto;
    line-height:1.7;

}

/* POST */

.post{

    width:90%;
    max-width:900px;
    margin:40px auto;
    background:#1d1d1d;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(255,215,0,.2);

}

.post h2{

    color:gold;
    margin-bottom:15px;

}

.post p{

    line-height:1.8;

}

/* CARDS */

.cards{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    width:90%;
    margin:auto;

}

.card{

    background:#222;
    padding:25px;
    border-radius:15px;
    transition:.3s;
    border:2px solid transparent;

}

.card:hover{

    transform:translateY(-8px);
    border-color:gold;
    box-shadow:0 0 20px gold;

}

.card h3{

    color:gold;
    margin-bottom:15px;

}

/* LIKE */

.like-area{

    text-align:center;
    margin:50px;

}

button{

    background:gold;
    color:black;
    border:none;
    padding:15px 40px;
    font-size:20px;
    font-weight:bold;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;

}

button:hover{

    transform:scale(1.05);
    background:#ffe66b;

}

/* CURIOSIDADE */

.curiosidade{

    width:90%;
    max-width:850px;
    margin:30px auto;

    background:#292929;

    border-left:6px solid gold;

    padding:20px;

    border-radius:10px;

    font-size:20px;

    line-height:1.7;

    box-shadow:0 0 20px rgba(255,215,0,.3);

}

/* FOOTER */

footer{

    margin-top:60px;
    background:#111;
    text-align:center;
    padding:25px;
    border-top:3px solid gold;

}

/* RESPONSIVO */

@media(max-width:700px){

header h1{

    font-size:32px;

}

.banner h2{

    font-size:30px;

}

nav{

    flex-direction:column;
    gap:10px;

}

button{

    width:90%;

}

}