**{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111;
    color:white;
}

header{
    background:#000;
    text-align:center;
    padding:30px;
    border-bottom:4px solid #FFD700;
}

header h1{
    color:#FFD700;
}

main{
    display:flex;
    justify-content:center;
    padding:40px;
}

.post{
    background:#222;
    width:700px;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 0 20px rgba(255,215,0,.3);
}

.post img{
    width:100%;
}

.post h2{
    padding:20px;
    color:#FFD700;
}

.post p{
    padding:0 20px 20px;
    line-height:1.6;
}

button{
    margin:20px;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#FFD700;
    color:#000;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

button:hover{
    background:#ffef9f;
}

.likes{
    font-size:18px;
    font-weight:bold;
    padding-bottom:20px;
}

footer{
    background:#000;
    text-align:center;
    padding:20px;
    margin-top:30px;
}